@model IEnumerable<CarShowRoom.Models.Bill>

@{
    ViewData["Title"] = "Оплата заказов";
}

<div class="panel panel-default">

    <div class="panel-heading">
        <div class="row">
            <div class="col-md-8"> <h4> @ViewData["Title"] </h4></div>
            <div class="col-md-4 text-right">
                <a class="btn btn-primary" asp-action="Create"><span class="glyphicon glyphicon-plus"></span> &nbsp; Добавить</a>
            </div>
        </div>
    </div>

    <div class="panel-body">
        <table class="table table-hover table-striped datagrid">
            <thead>
                <tr>
                    <th>
                        Заказ
                    </th>
                    <th class="col-md-2">
                        Дата
                    </th>
                    <th class="col-md-2">
                        Сумма
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @item.Order.ToString()
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
