@{
    ViewData["Title"] = "Недостаток ресурсов";
}

<header>
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <p class="text-danger">На складе отсутствует необходимое количество запасных частей.</p>
    <a asp-action="Index">К списку</a>
</header>
